* {
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80%;
	font-size: 1.5rem;
	margin: auto;
}

h1 {
	margin-top: 30px;
}

button {
	font-size: 1.8rem;
}

input {
	font-size: 1.8rem;
}

span {
	margin: 20px;
}

.input-field {
	margin: 20px;
}

.note-container {
	display: flex;
	flex-direction: column;
}

.title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.notes {
	display: flex;
	flex-direction: column;
}

.note {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.note.invisible {
	display: none;
}
